* {
    font-family: 'Arial', sans-serif;
  }

body {
    padding: 0;
    margin: 0;
}

  .top-bar {
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  .control-buttons {
    display: flex;
    gap: 0.5em;
  }

  .control-buttons button {
    background: #D9D9D9;
    position: relative;
    border: none;
    color: rgb(53, 53, 53);
    font-size: 1em;
    width: 1.2em; 
    height: 1.2em; 
    border-radius: 50%; 
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 0;
    cursor: pointer;
  }

  .control-buttons .icon {
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .control-buttons button:hover .icon {
    opacity: 1; 
  }

  .mode-buttons button {
    border: none;
    border-radius: 50%;
    width: 30px; /* Oder passen Sie die Größe nach Bedarf an */
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-right: 5px; /* Abstand zwischen den Buttons */
  }
  
  .button-noise {
    /* Radialer Verlauf und Grund-Styling */
    background-image: radial-gradient(circle, #D9D9D9 0%, #000000 100%);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: transform 0.3s; /* Glatte Transformation */
  }
  
  .button-noise:hover {
    transform: scale(1.1);
  }
  
  .growing-circle {
    position: absolute; 
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background: rgba(0, 0, 0);
    transform: scale(0);
    transition: transform 0.5s ease-out, opacity 1.5s ease-out;
    transform-origin: center;
  }
  
  /* Container für die Animation */
.viewport-border {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Verhindert Interaktionen mit dem Container */
  z-index: 9999; /* Stellt sicher, dass es über anderen Elementen liegt */
}

.viewport-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Inkludiert Rand in Breite und Höhe */
  border: 0.2em dotted black; /* Punktierter Rand */
  opacity: 0;
  animation: drawBorder 2s forwards;
}

/* Animation für den Rand */
@keyframes drawBorder {
  to {
    opacity: 1;
    border: 0.2em dotted #28E260; 
  }
}

  
  .button-bubble {
    background-color: #ffffff;
  }
  
  .button-bubble:hover {
    background-color: #BCE0E0; /* Hover-Farbe für den Bubble Button */
  }
  
  
  .navbar {
    color: white;
    display: flex;
    justify-content: center;
  }

  .search-area {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-grow: 1; /* Lässt den Suchbereich wachsen, um mehr Platz einzunehmen */
    margin: auto;
  }

  .search-input {
    color: #e4e4e4;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    font-size: 10em;
    max-width: 4em;
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  button {
    background: transparent;
    border: none; 
    cursor: pointer;
    padding: 0;
    outline: none; 

  }

  button .fa-search {
    color: #333;
    font-size: 4em; 
    align-items: center;
  }

  .tab-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }

  .tab {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d23f31;
    color: white;
    font-size: 24px;
    border-radius: 10px;
  }

  .tab:nth-child(2) {
    background: #ffa500;
  }

  .tab:nth-child(3) {
    background: #008000;
  }