* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  }

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.search-mini{
  border: none;
  outline: none;
}

.search-mini .input {
  background-color: transparent;
}

.custodia-logo{
  font-weight: 600;
  font-size: 1.5em;
  padding: 0 1em 0 0;
}

.top-bar {
  background: #F5F5F5;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.control-buttons {
  display: flex;
  gap: 0.5em;
}

.control-buttons button {
  background: #D9D9D9;
  position: relative;
  border: none;
  color: rgb(53, 53, 53);
  font-size: 1em;
  width: 1em; 
  height: 1em; 
  border-radius: 50%; 
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

  .control-buttons .icon {
    opacity: 0; 
    transition: opacity 0.3s; 
  }
  
  .control-buttons button:hover .icon {
    opacity: 1; 
  }

  .mode-buttons button {
    border: none;
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    margin-right: 5px; /* Abstand zwischen den Buttons */
  }

  #button-noise {
    width: 3em;
    height: 3em;
  }
  
  .button-noise {
    /* Radialer Verlauf und Grund-Styling */
    background-image: radial-gradient(circle, #D9D9D9 0%, #000000 100%);
    border: none;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: transform 0.3s; /* Glatte Transformation */
  }
  
  .button-noise:hover {
    transform: scale(1.1);
  }
/* 
  .noise-active .button-noise {
    border: 4px dotted rgb(255, 255, 255);
  }
   */

.noise-active .top-bar {
  background-color: #222222; /* Schwarz */
  transition: background-color 0.5s ease;
}

.noise-active .mini-search-area {
  background-color: #343434; /* Dunkelgrau */
  transition: background-color 0.5s ease;
}

.noise-active .custodia-logo {
  color: #ffffff; /*rgb(255, 255, 255)grau */
  transition: color 0.5s ease;
}

.noise-active .arrow-buttons {
  color: #ffffff; /*rgb(255, 255, 255)grau */
  transition: color 0.5s ease;
}

.noise-active .refresh {
  color: #ffffff; 
  transition: color 0.5s ease;
}

.noise-active .tab {
  background-color: #343434; 
  color: #ffffff;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.noise-active .fa {
  background-color: #222222; 
  color: #ffffff;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.noise-active .setting-location-button {
  color: #ffffff;
  transition: color 0.5s ease;
}

.noise-active .setting-buttons {
  color: #ffffff;
  background-color: #222222; 
  transition: background-color 0.5s ease;
}

.noise-active .mode-selector {
  display: none; 
  transition: 0.5s ease;
}



  
  /* .growing-circle {
    position: absolute; 
    width: 30em;
    height: 30em;
    border-radius: 50%;
    background: rgba(0, 0, 0);
    transform: scale(0);
    transition: transform 0.5s ease-out, opacity 1.5s ease-out;
    transform-origin: center;
    z-index: 3;
  }
   */
  /* Container für die Animation */
.viewport-border {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Verhindert Interaktionen mit dem Container */
  z-index: 9999; /* Stellt sicher, dass es über anderen Elementen liegt */
}

.viewport-border::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Inkludiert Rand in Breite und Höhe */
  border: 0.2em dotted black; /* Punktierter Rand */
  opacity: 0;
  animation: drawBorder 2s forwards;
}

  .button-bubble {
    background-color: #ffffff;
  }
  
  .button-bubble:hover {
    background-color: #BCE0E0; /* Hover-Farbe für den Bubble Button */
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 70vh;
    padding-left: 40em;
  }

  .search-area {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-grow: 1;
  }

  .search-input {
    border: none;
    outline: none;
    font-size: 10em;
    max-width: 3.5em;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width:100%
  }

  .search-input::placeholder {
    color: #e0e0e0;
    opacity: 1;
  }
  

  .large-icon {
    font-size: 11em !important; 
    color: #e0e0e0;
}

  button {
    background: transparent;
    border: none; 
    cursor: pointer;
    padding: 0;
    outline: none; 

  }
  
  .top-bar {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .button-row {
    display: flex;
    justify-content: space-between; /* Platziert die Buttons an den gegenüberliegenden Enden */
    width: 100%;
  }


  .top-bar-tabs {
    position: relative; 
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .top-bar::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Höhe der Linie */
    background: #28E260; /* Farbe der Linie */
    transition: width 0.5s linear;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .top-bar.animate-line::after {
    width: 100%; /* Vollständige Breite */
  }
  

  .tab-container {
    display: flex;
  }

  .tab {
    width: 15em;
    height: 3em;
    display: flex;
    align-items: center;
    background: #f5f5f5;
    color: rgb(75, 75, 75);
    border: 2px solid rgb(255, 255, 255);
    font-size: 0.8em;
    font-weight: 100;
    border-radius: 10em;
    padding: 0 0 0 1em;
    cursor: pointer;
    gap: 0.5em;
  }
  .mini-search-area {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1); /* X-Offset, Y-Offset, Blur-Radius, Farbe */
  }

.mode-selector {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.current-mode.mode-work {
  background-color: #0075FF !important;
}

.current-mode.mode:focus-visible {
  background-color: #0075FF !important;
}

.current-mode.mode-privat {
  background-color: rgb(104, 104, 104);
}

.current-mode.mode-sport {
  background-color: #FF8A00;
}

.current-mode.mode-school {
  background-color: #28E260;
}

.current-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5em 1.2em;
  gap: 0.5em;
  background-color: #28E260;
  color: white;
  border-radius: 20em;
  z-index: 2;
}

.mode {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5em 1.1em;
  gap: 0.5em;
  background-color: #F5F5F5;
  color: rgb(188, 188, 188);
  border-radius: 20em;
}

.add{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5em 0.5em;
  gap: 0.5em;
  background-color: #F5F5F5;
  color: rgb(188, 188, 188);
  border-radius: 20em;
}

.additional-modes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  padding-left: 1em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  transform: translateX(-10px);
}

.mode-selector:hover .additional-modes {
  opacity: 1; /* Sichtbar beim Hovern */
  visibility: visible; /* Wird in der Anzeige angezeigt */
  transform: translateX(0);
}

.mode-area:hover ~ .modeless-area {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mode-selector:hover ~ .modeless-area {
  opacity: 0;
  visibility: hidden; 
}

.mode span.material-symbols-outlined {
  transition: color 0.3s ease; /* Weiche Übergänge für das Icon */
}


.mode-work:hover, .mode-work.current {
  color: #0075FF;
}

.mode-privat:hover, .mode-privat.current {
  color: rgb(104, 104, 104);
}

.mode-sport:hover, .mode-sport.current {
  color: #FF8A00;
}

.mode-school:hover, .mode-school.current {
  color: #28E260;
}

.current-mode {
  color: white;
}


.searching-area button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 25em;
  padding: 0.5em 10em 0.5em 0.5em;
  border-radius: 3em;
  background-color: #F5F5F5; /* Hintergrundfarbe */
  cursor: pointer;
}

a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa {
  width: 1.5em;
  height: 1.5em;
  padding: 0.5em;
  color: #000000;
  background-color: #F5F5F5;
  border-radius: 50%; /* Macht das Element kreisförmig */
  font-size: 1em; /* Größe des Icons */
  text-decoration: none;
}

.fa::before {
  display: flex; /* Ermöglicht die Nutzung von Flexbox-Eigenschaften auf Pseudo-Elemente */
  align-items: center;
  justify-content: center;
  height: 100%; /* Stellt sicher, dass das Pseudo-Element die gesamte Höhe des Containers einnimmt */
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
  border-radius: 3em;
}
.setting-buttons {
  display: flex;
  width: 3em;
  height: 3em;
  align-items: center; 
  justify-content: center;
  gap: 0.5em;
  background-color: #F5F5F5;
  margin: 0 1em 1em 1em;
  border-radius: 3em;
}

.setting-location-button{
  display: flex;
  position: relative;
  align-items: center; 
  justify-content: center;
  gap: 0.5em;
  padding: 1em 1em 0 1em;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5em;
  border-radius: 3em;
}

.search-input:focus {
  font-size: 5em;
  color: #1c1c1c;
  max-width: 6em;
  transition: width 0.5s ease;

}


.mode-area{
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.modeless-area {
  display: flex;
  align-items: center;
  gap: 7em;
}

.data-secure {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 0.8em;
  padding: 3em;
  position: fixed; /* oder 'absolute', abhängig vom gewünschten Verhalten */
  bottom: 0;
  width: 100%; /* Streckt sich über die volle Breite */
  z-index: 10; /* Stellt sicher, dass es über anderen Elementen liegt */
}

.custodia-logo-secure{
  font-weight: 600;
  font-size: 1.5em;
  padding: 1.5em;
  position: fixed; /* oder 'absolute', abhängig vom gewünschten Verhalten */
  bottom: 0;
  width: 96%; /* Streckt sich über die volle Breite */
  z-index: 10; 
  position: fixed; 
  bottom: 0;
  text-align: right;
}

#frequently-used-sites {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 70%;  /* Anpassen, um es unterhalb der Suchleiste zu platzieren */
  right: 80%; /* Anpassen, um es rechts von der Suchleiste zu platzieren */
  transform: translate(50%, -50%);
}

.website {
  width: 10em;
  height: 10em;
  border-radius: 10px;
  cursor: grab;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

.large {
  flex: calc(33.333% - 20em); /* Ein Drittel der Breite für kleinere Elemente */
  height: 10em;
  width: 20em;
}

/* Weitere Styles für Drag & Drop-Interaktion */
.website:active {
  cursor: grabbing;
}

.hide {
  display: none;
}

.dragging {
  opacity: 0.4;
}

.mini-search-area {
  /* Stile für die Mini-Suchleiste */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tab.active {
  border: #2e2e2e;
  font-weight: bold;
  gap: 0.5em;
  background: #ffffff;

}

.tab-plus {
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    color: rgb(75, 75, 75);
    font-size: 0.8em;
    font-weight: 100;
    border-radius: 10em;
    cursor: pointer;
    gap: 0.5em;
    border: 2px solid rgb(255, 255, 255);
}


.add-tab {
  /* Stile für den + Button */
  background: transparent;
  border: none;
  cursor: pointer;
  /* Zusätzliche Stile nach Bedarf */
}

img{
  width: 4em;
  height: 4em;
  overflow: hidden;
  position: absolute;
}

.mode-drag-target {
  border: 1px solid #D3D3D3; /* Hellgraue Border */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 10;
  /* Weitere Styles nach Bedarf */
}

.mode-selector {
  cursor: grab;
}

.mode-selector:active {
  cursor: grabbing;
}

.sidebar {
  height: 100%;
  width: 0; /* Startet als versteckt */
  position: fixed;
  z-index: 1; /* Stellt sicher, dass die Sidebar über anderen Elementen liegt */
  top: 0;
  left: 0;
  background-color: #111; /* Hintergrundfarbe der Sidebar */
  overflow-x: hidden; /* Versteckt den horizontalen Scrollbalken */
  transition: 0.5s; /* Glatte Übergänge */
  padding-top: 60px; /* Platz für den Inhalt */
}

/* Stile für den Inhalt der Sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
